$color_text_success: #3A9B7A;
$color_success: #3A9B7A;
$color_success_light: #CEF2E6;
$color_success_medium: #94D325;
$color_text_success_light: #25d366;
$color_bg_success: #EAF6F2;
$color_danger: #dc3545;
$color_danger_light: #FFCCCB;
$color_warning: #F4B400;
$color_warning_light: #FFF7E2;
$color_warning_high: #F48200;