$color_bg_light_grey: #efefef;
$color_bg_dark_grey: #d9d9d9;
$color_secondary_btn: #4688e8;
$color_primary_btn: #ed9221;
$color_low_priority: #7bfc68;
$color_medium_priority: #feff1e;
$color_high_priority: #e62e2d;
$color_add_task: #ba2322;
$color_empty_circle: #c4c4c4;
$color_border: #707070;